body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #eaecee url("svgs/background.svg") ;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

.nav {
  margin-top: 1em;
  margin-left: 2em;
  flex-direction: row;
}

.nav-text {
  color: #39ADD0;
  font-weight: bold;
  margin-left: 1em;
  margin-right: 2em;
}

.nav-item:hover .st0,
.nav-item:hover .nav-text {
  transition: all 1s ease-out;
  fill: #111;
  color: #111;
  cursor: pointer;
}

.logo {
  width: 140px;
  height: 120px;
}

/* flex-alignment */

.flex {
    display: flex;

    .align-center {
        margin: auto;
        align-self: center;
    }

    .align-left {
        margin-right: auto;
        align-self: center;
    }

    .align-right {
        margin-left: auto;
        align-self: center;
    }

    .align-x-center {
        margin-right: auto;
        margin-left: auto;
    }

    .align-x-left {
        margin-right: auto;
    }

    .align-x-right {
        margin-left: auto;
    }

    .align-y-center {
        align-self: center;
    }

    .align-y-top {
        align-self: flex-start;
    }

    .align-y-bottom {
        align-self: flex-end;
    }
}
